<div class = "navbar">
  <%= link_to "Wikinimous", articles_path, class: "wikinimous" %>

  <%= link_to "New Article", new_article_path, class: "new-article" %>
</div>
<div class = "container">
  <%= link_to articles_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h1>New Article</h1>
  <div>
    <%= form_with model: @article do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "title-text-field"%>
      <%= f.label :content %>
      <%= f.text_area :content, class: "content-text-field"%>
      <%= f.submit class: "submit-button" %>
    <% end %>
  </div>
</div>
